.conteudo__titulo {
    position: absolute;
    width: 308px;
    height: 80px;
    left: 368px;
    top: 190px;

    font-family: Righteous;
    font-size: 48px;
    line-height: 79px;

    color: var(--branco);

}

.conteudo__texto {
    position: absolute;
    width: 545px;
    height: 46px;
    left: 368px;
    top: 295px;

    color: #ECD6C4;
}

.conteudo__botao {
    position: absolute;
    width: 185px;
    height: 67px;
    left: 369px;
    top: 360px;

    background: #ECD6C4;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.conteudo__logo {
    position: absolute;
    width: 304px;
    height: 293px;
    left: 1092px;
    top: 194px;

    border-radius: 50000px;
}

.logo__miranha {
    position: absolute;
    width: 305px;
    height: 303px;
    left: 1092px;
    top: 186px;
    
    border-radius: 50000px;
}

.conteudo__titulo-baixo {
    position: absolute;
width: 271px;
height: 44px;
left: calc(50.5% - 10%);
top: 650px;

font-family: Righteous;
font-size: 24px;
line-height: 30px;

color: #FFF2E7;
}

.conteudo__texto-baixo {
    position: absolute;

    display: flex;
    flex-direction: column;

    left: 387px;
    top: 725px;
    line-height: 45px;

    font-size: 18px;

    font-family: Sarala;

    color: #ECD6C4;
}