@charset "UTF-8";


body {
    background-color: #181818f6;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }