@charset "UTF-8";


.c01 {
    margin-left: 1380px;
}


.c02 {
    margin-left: 335px;
}


.boxmid {
    margin-left: 100px;
}


#mid {
    margin-left: 50px;
}


#mid02 {
    margin-left: 107px;
}


#mid03 {
    margin-left: 168px;
}


#p01 {
    width: 210px;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 3px;
    margin-bottom: 5px;
}


#p02 {
    margin-left: 5px;
    margin-bottom: 10px;
}


#p03 {
    margin-bottom: 0px;
    margin-top: -6px;
    margin-left: 150px;
    font-size: 18px;
}


.tabela__cabecalho {
    width: 100%;
    border: 1px solid black;
}

.tabela__cabecalho___dentro{
    width: 100%;
    
}


#table03 {
    width: 100%;
    border: 1px solid black;
    margin-top: 10px;
}


#table04 {
    width: 100%;
    border: 1px solid black;
    margin-top: -1px;
}


#table05 {
    width: 100%;
    border: 1px solid black;
    margin-top: -1px;
}


#table06 {
    width: 100%;
    border: 1px solid black;
    margin-top: -1px;
}


#table07 {
    width: 33%;
    border: 1px solid black;
    margin-top: -1px;
}


#table08 {
    width: 33.8%;
    height: 106px;
    border: 1px solid black;
    margin-top: -106px;
    margin-left: 516px;
}


#table09 {
    width: 33.333%;
    height: 106px;
    border: 1px solid black;
    margin-top: -106px;
    margin-left: 1045px;
}


#table10 {
    width: 100%;
    border: 1px solid black;
    margin-top: -1px;
}


#table11 {
    width: 100%;
    border: 1px solid black;
    margin-top: -1px;
}


#table12 {
    width: 100%;
    border: 1px solid black;
    margin-top: -1px;
}


#table13 {
    width: 33%;
    border: 1px solid black;
    margin-top: -1px;
}


#table14 {
    width: 15%;
    height: 106px;
    padding-top: 4px;
    border: 1px solid black;
    margin-top: -122px;
    margin-left: 516px;
}


#table15 {
    width: 52.12%;
    border: 1px solid black;
    margin-top: -122px;
    margin-left: 750px;
}


#table16 {
    width: 33%;
    border: 1px solid black;
    margin-top: -1px;
}


#table17 {
    width: 15%;
    height: 106px;
    border: 1px solid black;
    margin-top: -518px;
    margin-left: 516px;
}


#table18 {
    width: 52.12%;
    border: 1px solid black;
    margin-top: -519px;
    margin-left: 750px;
    padding-top: 427px;
}


.nome {
    width: 1.875rem;
}


#td02 {
    width: 990px;
}


#td03 {
    width: 10px;
}


#td04 {
    width: 10px;
}


#td05 {
    width: 52px;
}


#td06 {
    width: 64px;
}